.trafficlight {

    height: 550px;
    width: 250px;
    background-color: black;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    }
    
    
    .light {
    height: 150px;
    width: 150px;
    margin: auto;
    border-radius: 50%;
    }